slides/bug.bmp
slides/capitol.bmp
slides/cliffs.bmp
slides/crayons.bmp
slides/cube_w.bmp
slides/flowers.bmp
slides/hear.bmp
slides/nessus.bmp
slides/printer.bmp
slides/rocket.bmp
slides/sr71.bmp
slides/tower.bmp
slides/watch.bmp
